sentence_transformers
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-openai
langchain_huggingface
langchain_pinecone
flask
pypdf
python-dotenv
pinecone[grpc]
-e .